@-moz-viewport { width:device-width; scale: 1;}
@-ms-viewport { width:device-width; scale: 1;}
@-o-viewport { width:device-width; scale: 1;}
@-webkit-viewport { width:device-width; scale: 1;}
@viewport { width:device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webtext-text-size-adjust:100%;
	
	font-family: sans-serif,
	
}
*, *::before, *::after{ 
	box-sizing: inherit;
}
ol{
	list-style-type: none;
}

.nav a:hover{
	color: gray;
}

body{
margin:0;
}

.img-flex{
	width: 100%;
	display: block;

}
.gutter{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media only screen and (min-width: 25em){
	li{
		display: inline-block;
	}
}