@-moz-viewport { width:device-width; scale: 1;}
@-ms-viewport { width:device-width; scale: 1;}
@-o-viewport { width:device-width; scale: 1;}
@-webkit-viewport { width:device-width; scale: 1;}
@viewport { width:device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webtext-text-size-adjust:100%
	font-family: sans-serif,
	
}

.light-grey{
	background: #999;
}
.grey{
	background-color: #666;
}


*, *::before, *::after{ 
	box-sizing: inherit;
}
h1{
	margin: 0;
	padding: 0.5em;
}
li{
	padding: 0.5em;
}
ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
}
.nav a{
	text-decoration: none;
	display: block;

}
.nav a:hover{
	color: gray;
}
p{
	display: block;
}
body{
margin:0;
}

.img-flex{
	width: 100%;
	display: block;

}
.gutter{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.footer{
	display: inline-block;
	padding:0;
}	


figcaption{
	padding: 0.5em;
}

@media only screen and (min-width: 25em){
	li{
		display: inline-block;

	}
ul {
		display: inline-block;

	}
}






















